.leftContainer{
    width: 90%;
    height: 93%;
    position: relative;
    margin: auto;
    background: #FFFFFF;
    margin-right: 50px;
    border-radius: 3%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 8px;
}
p{
    float: right;
    margin: 8px;
    color: #3F51B5;
    font-size: 15px;
}
.logos{
    float: left;
    display: flex;
    flex-direction: row;
}
.setting{
    width: 15px;
    height: 15px;
    margin: 8px;
}
.refresh{
    width: 15px;
    height: 15px;
    margin:8px 0;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn{
    width: 33%;
    height: 35px;
    font-size: 15px;
    background: #EDEDED;
    opacity: 0.4;
    border-radius: 2%;
    border: 2px solid #ccc;
    margin: 3px;
}
.btn:last-child{
    color: #3F51B5;
    opacity: 1;
    background: #FFFFFF;
}
.contents{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.head{
    background: #CCCCCC;
    height: 32px;
    border-radius: 5% 5% 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.splitter{
    width: 2px;
    height: 24px;
    background: #A9ADC6;
    margin-top: auto;
    margin-bottom: auto;
}
.title{
    flex: 75%;
    text-align: center;
}
.value{
    flex: 25%;
    text-align: center;
}
